<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Practise Test" verbose="3">


	<test name="Test for practice">
		<classes>
			<class name="selenium.Cricketscorelist" />
		<class name="selenium.Logincheck" />
		</classes>
	</test>
</suite>